* {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
}

.main-container {
    display: flex;
    width: 100%;
}

.navbar-container {

}

.menu-container {
    position: relative;
    max-width: 410px;
    z-index: 999;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
}

.map-container {
    flex-grow: 1;
}

#map {
    height: 100vh;
    background-color: #ffffff;
}

#search-input {
    position: absolute;
    z-index: 998;
    top: 20px;
    left: 50%;
    height: 40px;
    width: 420px;

    padding: 10px 20px;

    border: none;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

::placeholder {
    color: #A8A8A8;
}


.navbar-container {
    padding: 30px 30px;
    margin-bottom: 10px;

}

.navbar-container p {
    font-size: 1.2rem;
    font-weight: bold;

}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 170px;
    padding: 20px;
}

.categories-container button {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    border: none;
    border-radius: 8px;
    width: 48%;
    padding: 10px;  
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}

.categories-container .restaurants {
    background-color: #ff4747;
}

.categories-container .drinks {
    background-color: #edab26;
}

.categories-container .parks {
    background-color: #48a61f;
}

.categories-container .culture {
    background-color: #3449bf;
}

.categories-container .shops {
    background-color: #3a1fa6;
}

.categories-container .restaurants:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px #ff4747;
}

.categories-container .drinks:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px #edab26;
}

.categories-container .parks:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px #48a61f;
}

.categories-container .culture:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px #3449bf;
}

.categories-container .shops:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px #3a1fa6;
}

.planner-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.planner-container .clear-route {
    border: none;
    border-radius: 11px;
    font-size: 1.1rem;
    padding: 15px 25px;
    margin: 5px 0;
    cursor: pointer;
}

.planner-container .generate-route {
    border: none;
    border-radius: 11px;
    font-size: 1.1rem;
    padding: 15px 25px;
    margin: 5px 0;
    cursor: pointer;
}

.planner-container .route-container {
    display: flex;
    flex-wrap: wrap;
}

.planner-container .origin-container {
    padding: 25px 25px;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}

#waypoints-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

#waypoints-container .waypoint {
    width: 100%;
    padding: 25px 25px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
}

.planner-container .destination-container {
    padding: 25px 25px;
    align-items: center;

}
.route-container .waypoint {
    font-size: 0.5rem;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.planner-container input {
    width: 95%;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #fff;
    transition: 0.3s;
}
.planner-container .waypoint input:hover {
    border: 1px solid #b5b5b5;
    cursor: text;
}



.toolbox-container {
    position: absolute;
    z-index: 998;
    bottom: 40px;
    left: 41%;
}

.toolbox-container button {
    height: 40px;
    padding: 10px 20px;
    margin: 0px 10px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: not-allowed;
    transition: 0.4s;
}